extends templates/default/index

include components/header/_mixin
include components/button/_mixin
include components/footer/_mixin
include components/ul/_mixin
include components/component-preview/_mixin
include components/document-list/_mixin

block head_end
  link(rel="stylesheet" href="/css/style.css") 

block content
  +header()
  .c-pageHeader 
    .inner
      nav 
        ul
          li
            a(href='/index.html') MAIN PAGE
          li
            a(href='/docs.html') DOCS 
          li
            a(href='/components.html') COMPONENTS 

      .c-pageHeader__h1Wrap
        h1.
          c-documentList 
  .c-block.c-block--compList
    .inner
      .c-block__wideColumn
        .c-comp
          .c-comp__borderedItem 
            h3.c-comp__header.
             c-documentList 
          .c-comp__borderedItem 
            - var doc1 = {'name':'big_name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}
            - var doc2 = {'name':'name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}
            - var doc3 = {'name':'name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}
            - var documents = [doc1, doc2, doc3]
            +documentList(documents)
          .c-comp__borderedItem 
            .c-comp__codeItemList
              .c-comp__codeItem
                .c-comp__codeLang PUG 
                .c-comp__code
                  div= "- var doc1 = {'name':'big_name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}"
                  div= "- var doc2 = {'name':'name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}"
                  div= "- var doc3 = {'name':'name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}"
                  div= "- var documents = [doc1, doc2, doc3]"
                  div= '+documentList(documents)'

              .c-comp__codeItem
                .c-comp__codeLang HTML 
                .c-comp__code
                  div= '<div class="c-documentList">' 
                  .c-comp__codeLine.c-comp__codeLine--p1= '<div class="c-documentList__list">'
                  .c-comp__codeLine.c-comp__codeLine--p2= '<div class="c-documentList__item">'
                  .c-comp__codeLine.c-comp__codeLine--p3= '<div class="c-documentList__columnList">'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<div class="c-documentList__image" style="background-image: url(http://via.placeholder.com/46x62);"></div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<h2>name_of_document</h2>'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<h3>08/08/2014</h3>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<button class="c-button c-button--accent">View document</button>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p3= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p2= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p2= '<div class="c-documentList__item">'
                  .c-comp__codeLine.c-comp__codeLine--p3= '<div class="c-documentList__columnList">'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<div class="c-documentList__image" style="background-image: url(http://via.placeholder.com/46x62);"></div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<h2>name_of_document</h2>'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<h3>08/08/2014</h3>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<button class="c-button c-button--accent">View document</button>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p3= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p2= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p2= '<div class="c-documentList__item">'
                  .c-comp__codeLine.c-comp__codeLine--p3= '<div class="c-documentList__columnList">'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<div class="c-documentList__image" style="background-image: url(http://via.placeholder.com/46x62);"></div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<h2>name_of_document</h2>'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<h3>08/08/2014</h3>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '<div class="c-documentList__column">'
                  .c-comp__codeLine.c-comp__codeLine--p5= '<button class="c-button c-button--accent">View document</button>'
                  .c-comp__codeLine.c-comp__codeLine--p4= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p3= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p2= '</div>'
                  .c-comp__codeLine.c-comp__codeLine--p1= '</div>'
                  div= '</div>'


             
  +footer()
  
block body_end
  script(type="text/javascript" src="/js/script.js")
